body {
    background-color: rgb(252, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
}

.keyboard {
    margin: 20px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.row {
    width: 100%;
    height: auto; 
}

button {
    color: black;
    width: 15%; 
    height: 60px; 
    border: none;
    background: rgb(242, 237, 237);
    box-shadow: 3px 3px 6px #100202, -3px -3px 6px #FFF;
    font-size: 16px; 
    margin: 5px; 
    outline: none;
    border-radius: 10px;
}

.button:active {
    box-shadow: 5px 5px 10px #fdfdfd, 1px 1px 2px #c92c2c;
}

.back, .tab, .capsLK {
    width: 20%; 
    border-radius: 10px;
}

.keyboard button:hover {
    color: red;
}

.key {
    width: 20%; 
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.highlighted {
    background-color: rgb(225, 249, 6);
}

.img {
    background-color: #c92c2c;
}

@media (max-width: 600px) {
    .keyboard {
        max-width: 100%;
        margin: 0;
    }
    .button {
        width: 30%; 
        font-size: 14px; 
        margin: 3px; 
    }
    .back, .tab, .capsLK {
        width: 40%; 
    }
    .key {
        width: 40%; 
        height: 40px;
        line-height: 40px;
    }
}
